$grid-size: 18px;
$grid-double-size: $grid-size * 2;
$grid-half-size: $grid-size / 2;

$slide-speed: .5s;
$slide-opacity-speed: 1.5s;
$opacity-speed: .3s;

$logoWidth: 600px;
$logoHeight: 119px;
$transportWidth: 300px;
$transportHeight: 259px;
$captureWidth: 375px;
$captureHeight: 217px;
$shareWidth: 338px;
$shareHeight: 157px;

$logoSmallWidth: 280px;
$slideImageSmallWidth: 200px;

html {
  box-sizing: border-box;
  outline: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: inherit;
}

html {
  color: #fff;
  font-family: "brandon-grotesque";
  font-size: 20px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

body{
  width: 100vw;
  height: 100vh;
  background: #000 image-url('background.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.3;
  font-weight: normal;
}

h1,
h2 {
  margin-bottom: $grid-size;
  text-transform: uppercase;
  letter-spacing: 10px;
}

h1 {
  @include text-overflow;
  width: $logoWidth;
  height: $logoHeight;
  margin: 0 auto $grid-double-size;
  background: image-url('atlas_logo.png') no-repeat center center;
  background-size: $logoWidth $logoHeight;
}

p {
  padding: 0 $grid-half-size;
  display: block;
}

footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: $grid-size;
  text-align: center;
  font-size: .7rem;

  a:hover {
    text-decoration: underline;
  }
}

.slide-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: left $slide-speed, opacity $slide-opacity-speed;
}

.slide-image {
  margin: 0 auto $grid-size;
  background-repeat: no-repeat;
  background-position: center center;

  .slide[data-slide='1'] & {
    width: $transportWidth;
    height: $transportHeight;
    background-image: image-url('transport.png');
    background-size: $transportWidth $transportHeight;
  }

  .slide[data-slide='2'] & {
    width: $captureWidth;
    height: $captureHeight;
    background-image: image-url('capture.png');
    background-size: $captureWidth $captureHeight;
  }

  .slide[data-slide='3'] & {
    width: $shareWidth;
    height: $shareHeight;
    background-image: image-url('share.png');
    background-size: $shareWidth $shareHeight;
  }
}

.slide-container[data-active-slide='0'] {
  .slide[data-slide='0'] {
    left: 0;
    opacity: 1;
  }

  .slide[data-slide='1'],
  .slide[data-slide='2'],
  .slide[data-slide='3'] {
    left: 100vw;
  }
}

.slide-container[data-active-slide='1'] {
  .slide[data-slide='1'] {
    left: 0;
    opacity: 1;
  }

  .slide[data-slide='0'] {
    left: -100vw;
  }

  .slide[data-slide='2'],
  .slide[data-slide='3'] {
    left: 100vw;
  }
}

.slide-container[data-active-slide='2'] {
  .slide[data-slide='2'] {
    left: 0;
    opacity: 1;
  }

  .slide[data-slide='0'],
  .slide[data-slide='1'] {
    left: -100vw;
  }

  .slide[data-slide='3'] {
    left: 100vw;
  }
}

.slide-container[data-active-slide='3'] {
  .slide[data-slide='3'] {
    left: 0;
    opacity: 1;
  }

  .slide[data-slide='0'],
  .slide[data-slide='1'],
  .slide[data-slide='2'] {
    left: -100vw;
  }
}

.bg-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: #1a1a1a;
  opacity: .7;
}

.page-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.container {
  max-width: 618px;
  margin: 0 auto;
  padding: 0 $grid-half-size;
  text-align: center;
}

.arrow-container {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 3;
  opacity: 0;
  cursor: default;
  transition: opacity $opacity-speed;

  &:hover {
    .arrow-bg-overlay,
    .arrow {
      opacity: 1;
    }
  }

  &.arrow-container-active {
    opacity: 1;
    cursor: pointer;
  }
}

.arrow-bg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity $opacity-speed;
}

.arrow-container-left {
  left: 0;

  .arrow-bg-overlay {
    background-image: linear-gradient(to left, rgba(0,0,0,0), #000);
  }
}

.arrow-container-right {
  right: 0;

  .arrow-bg-overlay {
    background-image: linear-gradient(to right, rgba(0,0,0,0), #000);
  }
}

.arrow {
  width: 32px;
  height: 56px;
  margin: 0 auto;
  background: image-url('arrow.png') no-repeat center center;
  background-size: 32px 56px;
  position: relative;
  z-index: 2;
  opacity: .5;
  transition: opacity $opacity-speed;
}

.arrow-left {
  transform: scaleX(-1);
}

.mailchimp-section {
  margin-top: $grid-double-size;

  > p {
    margin-bottom: $grid-half-size;
  }
}

.mailchimp-container {
  .button {
    height: 49px;
    margin-left: -4px;
    padding: $grid-half-size $grid-size;
    background: #fff;
    border: none;
    opacity: 1;
    transition: opacity $opacity-speed;

    &:hover {
      opacity: .5;
    }
  }
}

.mc-field-group {
  width: 100%;
  max-width: 290px;
  display: inline-block;
  vertical-align: top;

  label {
    display: none;
  }

  input[type="email"] {
    width: 100%;
    padding: $grid-half-size $grid-size;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    transition: border-color $opacity-speed;
  }
}

.mailchimp-signup {
  display: inline-block;
  vertical-align: top;
}

#mce-responses {
  display: none;
}

.mailchimp-container.is-hovering {
  .mc-field-group {
    input[type="email"] {
      border-color: rgba(#fff, .5);
    }
  }
}

@media only screen and (max-width: 899px) {
  .arrow-container {
    width: 10%;
  }

  .arrow {
    width: 20px;
    height: 20px * 56px / 32px;
    background-size: 20px (20px * 56px / 32px);
  }
}

@media only screen and (max-width: 736px),
       only screen and (max-height: 630px) {
  html {
    font-size: 16px;
  }

  body {
    background-attachment: fixed;
  }

  h1 {
    width: $logoSmallWidth;
    height: $logoSmallWidth * $logoHeight / $logoWidth;
    background-size: $logoSmallWidth ($logoSmallWidth * $logoHeight / $logoWidth);
  }

  footer {
    padding-bottom: $grid-size;
    position: static;
  }

  .mobile-hide {
    display: none;
  }

  .slide-container {
    height: auto;
    padding-top: $grid-double-size;
    display: block;
    overflow: visible;
  }

  .slide {
    height: auto;
    margin-bottom: $grid-double-size * 2;
    display: block;
    position: static;
    opacity: 1;
  }

  .slide-image {
    .slide[data-slide='1'] & {
      width: $slideImageSmallWidth;
      height: $slideImageSmallWidth * $transportHeight / $transportWidth;
      background-size: $slideImageSmallWidth ($slideImageSmallWidth * $transportHeight / $transportWidth);
    }

    .slide[data-slide='2'] & {
      width: $slideImageSmallWidth;
      height: $slideImageSmallWidth * $captureHeight / $captureWidth;
      background-size: $slideImageSmallWidth ($slideImageSmallWidth * $captureHeight / $captureWidth);
    }

    .slide[data-slide='3'] & {
      width: $slideImageSmallWidth;
      height: $slideImageSmallWidth * $shareHeight / $shareWidth;
      background-size: $slideImageSmallWidth ($slideImageSmallWidth * $shareHeight / $shareWidth);
    }
  }

  .arrow-container {
    display: none;
  }

  .mailchimp-container {
    .button {
      height: 43px;
    }
  }

  .mc-field-group {
    max-width: 200px;
  }
}
